<div class="tooltip-container fight-tooltip">
    <p class="fight-info fight-tooltip-name">*A te neved</p>
    <p class="fight-info fight-tooltip-enemy">*Ellenfél Neve</p>
    <p class="fight-info">Rank</p>
    <p class="fight-info">*A te rankod</p>
    <p class="fight-info">*Ellenfel rankja</p>
    <p class="fight-info">*Te rankod - ellenfél rankja</p>
    <p class="fight-info">Szint</p>
    <p class="fight-info">*A te szinted</p>
    <p class="fight-info">*Ellenfel szintje</p>
    <p class="fight-info">*Te szinted - ellenfél szintje</p>
    <p class="fight-info">Életerő</p>
    <p class="fight-info">*A te életerőd</p>
    <p class="fight-info">*Ellenfél életereje</p>
    <p class="fight-info">*Te életerőd - ellenfél életereje</p>
    <p class="fight-info">Kitartás</p>
    <p class="fight-info">*Te kitartásod</p>
    <p class="fight-info">*Ellenfél kitartása</p>
    <p class="fight-info">*Különbség</p>
    <p class="fight-info">Szorgalom</p>
    <p class="fight-info">*Te szorgalmad</p>
    <p class="fight-info">*Ellenfél szorgalma</p>
    <p class="fight-info">*Különbség</p>
    <p class="fight-info">Intelligencia</p>
    <p class="fight-info">*Te inteligenciád</p>
    <p class="fight-info">*Ellenfél inteligenciája</p>
    <p class="fight-info">*Különbség</p>
    <p class="fight-info">Ügyesség</p>
    <p class="fight-info">*Te ügyességed</p>
    <p class="fight-info">*Ellenfél ügyessége</p>
    <p class="fight-info">*Különbség</p>
    <p class="fight-info">Szerencse</p>
    <p class="fight-info">*Te szerencséd</p>
    <p class="fight-info">*Ellenfél szerencséje</p>
    <p class="fight-info">*Különbség</p>
</div>