<div class="separator-wrapper">
  <svg
    [attr.width]="width"
    [attr.height]="height"
    [attr.transform]="orientation === 'vertical' ? 'rotate(90)' : null"
    preserveAspectRatio="xMinYMid meet"
    xmlns="http://www.w3.org/2000/svg"
  >
    <line
      x1="0"
      y1="12"
      [attr.x2]="firstLineEnd"
      y2="12"
      stroke="black"
      [attr.stroke-width]="stroke"
    />
    <line
      [attr.x1]="secondLineStart"
      y1="12"
      [attr.x2]="width"
      y2="12"
      stroke="black"
      [attr.stroke-width]="stroke"
    />
    <circle
      [attr.cx]="circlePosition"
      cy="12.5"
      [attr.r]="radius"
      fill="white"
      stroke="black"
      [attr.stroke-width]="stroke"
    />
  </svg>
</div>
