<div class="col between">
  <span class="brawlers-title">Bachelors Brawlers</span>
  <img class="bg-img" ngSrc="../../assets/images/welcome.webp" fill priority/>
  <div class="big-break"></div>
  <div class="col center content">
    <p class="brawlers-text-large brawlers-subtitle brawlers-welcome">Készülj fel a legnagyobb kihívásra: az informatikus hallgatók vizsgáira!
      Fedezd fel a Szeged városát,  találkozz jellegzetes karakterekkel,
      és gyűjtsd össze a szükséges tudást a sikeres államvizsgáig.
      Juss végig a kihívásokon és legyél Te az első, aki sikeresen államvizsgázik!</p>
    <button routerLink="/login" label="Iratkozz be most!" class="brawlers-btn" (click)="onButtonClicked('map_button.mp3')">Vágj bele!</button>
  </div>
</div>

